#ignore class file
*.class
#ignore package file
*.war
*.ear
#igore maven generated target folders
target
node_modules
test
#ignore eclipse files
.project
.classpath
.settings
.metadata
*.iml
#gitignore
